@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.3rem;
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(240, 5%, 14%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240, 5%, 14%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(240, 5%, 14%);
  --primary: hsl(261, 72%, 63%);
  --primary-foreground: hsl(255, 80%, 96%);
  --secondary: hsl(286, 2%, 96%);
  --secondary-foreground: hsl(240, 6%, 21%);
  --muted: hsl(286, 2%, 96%);
  --muted-foreground: hsl(240, 5%, 55%);
  --accent: hsl(286, 2%, 96%);
  --accent-foreground: hsl(240, 6%, 21%);
  --destructive: hsl(27, 90%, 55%);
  --border: hsl(286, 3%, 92%);
  --input: hsl(286, 3%, 92%);
  --ring: hsl(261, 72%, 63%);
  --chart-1: hsl(41, 76%, 60%);
  --chart-2: hsl(184, 60%, 60%);
  --chart-3: hsl(227, 60%, 40%);
  --chart-4: hsl(84, 75%, 65%);
  --chart-5: hsl(70, 75%, 65%);
  --sidebar: hsl(231, 100%, 99%);
  --sidebar-foreground: hsl(240, 5%, 14%);
  --sidebar-primary: hsl(261, 72%, 63%);
  --sidebar-primary-foreground: hsl(255, 80%, 96%);
  --sidebar-accent: hsl(286, 2%, 96%);
  --sidebar-accent-foreground: hsl(240, 6%, 21%);
  --sidebar-border: hsl(286, 3%, 92%);
  --sidebar-ring: hsl(261, 72%, 63%);
}

.dark {
  --background: hsl(240, 5%, 14%);
  --foreground: hsl(231, 100%, 99%);
  --card: hsl(240, 6%, 21%);
  --card-foreground: hsl(231, 100%, 99%);
  --popover: hsl(240, 6%, 21%);
  --popover-foreground: hsl(231, 100%, 99%);
  --primary: hsl(263, 72%, 55%);
  --primary-foreground: hsl(265, 60%, 38%);
  --secondary: hsl(240, 6%, 27%);
  --secondary-foreground: hsl(231, 100%, 99%);
  --muted: hsl(240, 6%, 27%);
  --muted-foreground: hsl(240, 5%, 70%);
  --accent: hsl(240, 6%, 27%);
  --accent-foreground: hsl(231, 100%, 99%);
  --destructive: hsl(22, 90%, 60%);
  --border: hsla(0, 0%, 100%, 0.1);
  --input: hsla(0, 0%, 100%, 0.15);
  --ring: hsl(264, 72%, 50%);
  --chart-1: hsl(264, 72%, 50%);
  --chart-2: hsl(162, 70%, 60%);
  --chart-3: hsl(70, 75%, 65%);
  --chart-4: hsl(304, 70%, 55%);
  --chart-5: hsl(16, 70%, 55%);
  --sidebar: hsl(240, 6%, 21%);
  --sidebar-foreground: hsl(231, 100%, 99%);
  --sidebar-primary: hsl(263, 72%, 55%);
  --sidebar-primary-foreground: hsl(265, 60%, 38%);
  --sidebar-accent: hsl(240, 6%, 27%);
  --sidebar-accent-foreground: hsl(231, 100%, 99%);
  --sidebar-border: hsla(0, 0%, 100%, 0.1);
  --sidebar-ring: hsl(264, 72%, 50%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  li {
    @apply text-foreground;
  }
}
.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
}
.navigation ul {
  display: flex;
  align-items: center;
}
.navigation ul li {
  position: relative;
  width: 70px;
  height: 70px;
  list-style: none;
  z-index: 1;
  padding-top: 20px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  height: 50px; /* add this */
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: black;
}

.navigation ul li:hover a .icon {
  /* padding: 20px; */
  transform: translateY(-30px);
}
.navigation ul li a .text {
  position: absolute;
  font-weight: 400;
  font-size: 0.75em;
  /*   letter-spacing: 0.05em; */
  transition: 0.5s;
  top: 10px;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li:hover a .text {
  opacity: 1;
  transform: translateY(0px);
}
